@import 'tailwindcss' source('.');
@plugin 'daisyui';
@plugin 'daisyui/theme' {
  name: 'dark';
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-content: hsl(226, 64%, 88%);

  --color-base-100: hsl(240, 21%, 15%);
  --color-base-200: hsl(240, 21%, 22%);
  --color-base-300: hsl(240, 21%, 29%);
  --color-base-content: var(--color-content);
  --color-primary: var(--color-blue-400);
  --color-primary-content: var(--color-content);
  --color-secondary: var(--color-fuchsia-400);
  --color-secondary-content: var(--color-content);
  --color-accent: oklch(--color-sky-300);
  --color-accent-content: var(--color-content);
  --color-neutral: var(--color-slate-600);
  --color-neutral-content: var(--color-content);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: var(--color-content);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: var(--color-content);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: var(--color-content);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: var(--color-content);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  --divider-m: 0.5rem 0px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= var(--breakpoint-mobile)) {
    padding-inline: 2rem;
  }
  @media (width >= var(--breakpoint-tablet)) {
    padding-inline: 4rem;
  }
  @media (width >= var(--breakpoint-desktop)) {
    padding-inline: 5rem;
  }
}

html {
  color: var(--color-content);
  /* background-color: var(--color-base-100); */
  scrollbar-gutter: stable both-edges; /* Modal layouut shift fix*/
}

/* Slight modification to daisy styling */
.dock > * {
  max-width: calc(0.5rem * 32);
}

.dock-active {
  &:after {
    width: calc(0.5rem * 10);
  }
}

/* React select styling, modified from daisyui input & menu compoenents */
.react-select-lg__control {
  --input-color: var(--color-primary);
  --size: calc(var(--size-field, 0.25rem) * 12);
  @apply bg-base-100 relative inline-flex shrink appearance-none items-center gap-2 px-3 align-middle whitespace-nowrap;
  border: var(--border) solid #0000;
  border-color: var(--input-color);
  border-radius: var(--radius-field);
  font-size: 1.125rem;
  height: var(--size);
}

.react-select-lg__menu {
  @apply bg-base-100 rounded-box w-fit p-2 shadow-2xl;
  --menu-active-fg: var(--color-neutral-content);
  --menu-active-bg: var(--color-neutral);
  font-size: 1.125rem;
  z-index: 10 !important;
}

.react-select-lg__menu-list {
  @apply py-1;
}

.react-select-lg__option {
  @apply w-full px-3 py-1;
}

.react-select-lg__option--is-focused {
  @apply bg-base-200;
}

.react-select-lg__option--is-selected {
  @apply bg-base-300;
}

label.floating-label:has(div.react-select-lg__control) > span {
  @apply text-lg;
}

/* Rechart outline removal */
.recharts-wrapper > svg {
  outline: none;
}

.skeleton {
  animation-duration: 1s;
  animation-delay: -250ms;
}
