@import 'tailwindcss' source('.');
@plugin 'daisyui';
@plugin 'daisyui/theme' {
  name: 'dark';
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-content: hsl(226, 40%, 92%);

  --color-base-100: hsl(240, 21%, 15%);
  --color-base-200: hsl(240, 21%, 22%);
  --color-base-300: hsl(240, 21%, 29%);
  --color-base-content: var(--color-content);
  --color-primary: oklch(62% 0.14 255); /* softer blue */
  --color-primary-content: var(--color-content);

  --color-secondary: oklch(60% 0.15 320); /* muted fuchsia */
  --color-secondary-content: var(--color-content);

  --color-accent: oklch(65% 0.13 220); /* calm sky */
  --color-accent-content: var(--color-content);

  --color-info: oklch(64% 0.11 230);
  --color-info-content: var(--color-content);
  --color-success: oklch(64% 0.12 160);
  --color-success-content: var(--color-content);
  --color-warning: oklch(68% 0.13 85);
  --color-warning-content: var(--color-content);
  --color-error: oklch(60% 0.14 15);
  --color-error-content: var(--color-content);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  --divider-m: 0.5rem 0px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= var(--breakpoint-mobile)) {
    padding-inline: 2rem;
  }
  @media (width >= var(--breakpoint-tablet)) {
    padding-inline: 4rem;
  }
  @media (width >= var(--breakpoint-desktop)) {
    padding-inline: 5rem;
  }
}

html {
  color: var(--color-content);
  /* background-color: var(--color-base-100); */
  scrollbar-gutter: stable both-edges; /* Modal layouut shift fix*/
}

/* Slight modification to daisy styling */
.dock > * {
  max-width: calc(0.5rem * 32);
}

.dock-active {
  &:after {
    width: calc(0.5rem * 10);
  }
}

/* Rechart outline removal */
.recharts-wrapper > svg {
  outline: none;
}

.skeleton {
  animation-duration: 1s;
  animation-delay: -250ms;
}
